# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Media
*.mp4
*.avi
*.jpg
*.png

# Output
output/
logs/
*.log

# Database
*.db

# Models & Data
models/
yolov8n.pt
dataset/leopard_oid/
dataset/download_oid.py
data/

# Debug Scripts
debug_*.py
extract_frame.py

# System
.DS_Store
